<div>
    <h1><%= current_user.name %></h1>
    <h3>Post Tweet</h3>
    <%= form_for([@user, @user.tweets.build]) do |f| %>
      <p>
        <%= f.label :content %><br>
        <%= f.text_field :content %>
      </p>
       <p>
        <%= f.submit %>
       </p>
    <% end %>
    <h3>Tweet Feed</h3>
    <% if @feed_items.any? %>
    <% @feed_items.each do |tweet| %>
      <ol>
        <%= tweet.content %>
      </ol>
    <% end %>
</div>
