<%= link_to_if(current_user.nil?, "Login", new_user_session_path, class: 'btn btn-primary m-5') do
          link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
      end%>
<div>
    <h1><%= current_user.email %></h1>
    <h3>Post Tweet</h3>
    <%= form_for([@user, @user.tweets.build]) do |f| %>
      <p>
        <%= f.label :content %><br>
        <%= f.text_field :content %>
      </p>
       <p>
        <%= f.submit %>
       </p>
    <% end %>
    <h3>Tweet Feed</h3>
    <% if @feed_items.any? %>
      <% @feed_items.each do |tweet| %>
        <ol>
          <%= tweet.content %>
        </ol>
      <% end %>
    <% end %>
</div>
